
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8FAFC;
    color: #1F2937;
    line-height: 1.6;
}


header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-color:#24358a;
    padding: 25px 30px;
}

header h1{
    color:white;
    font-size:32px;
}


nav{
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    font-weight:500;
}

nav a:hover{
    text-decoration:underline;
}



.skills{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}



.card{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: 4px solid #2f89c1;
    font-weight:500;
    transition: 0.3s;
    cursor: pointer;
}



.card:hover{
    background-color: #2563EB;
    color: white;
    transform: translateY(-5px);
}
