
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8FAFC;
    color: #1F2937;
    line-height: 1.6;
}


header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-color:#24358a;
    padding: 25px 30px;
}

header h1{
    color:white;
    font-size:32px;
}


nav{
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    font-weight:500;
}

nav a:hover{
    text-decoration:underline;
}



.skills{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}



.card{
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: 4px solid #1f11857f;
    font-weight:500;
    transition: 0.3s;
    cursor: pointer;
}



.card:hover{
    background-color: #2563EB;
    color: white;
    transform: translateY(-5px);
}

section{
    margin: 40px;
}


section h2{
    color:#2563EB;
    margin-bottom:20px;
}
/* Education Table */

table{
    width:85%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background-color:#2563EB;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    border:1px solid #ddd;

}

tr:hover{
    background-color:#dbeafe;
}
/* Contact Form */

form{
    max-width: 500px;
    margin-top: 20px;
}

label{
    font-weight: 500;
}

input,
textarea{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

textarea{
    height: 120px;
    resize: vertical;
}

input[type="submit"]{
    width: auto;
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: #1D4ED8;
}